<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>websocket</title>
</head>
<body>
<script type="text/javascript">
    var socket;
    if(window.WebSocket) {
        socket = new WebSocket("ws://127.0.0.1:8888/gameserver");
        socket.onmessage = function (event) {
            var ta = document.getElementById("resp");
            ta.value = ta.value + "\n" + event.data;
        }
        socket.onopen = function (event) {
            var ta = document.getElementById("resp");
            ta.value = "连接接开启！";
        }
        socket.onclose = function (event) {
            var ta = document.getElementById("resp");
            ta.value = ta.value + "\n" + "连接关闭！";
        }
    } else {
        alert("浏览器不支持websocket");
    }
    function send() {
        if(!window.WebSocket) {
            return;
        }
        if(socket.readyState == WebSocket.OPEN) {
            socket.send(document.getElementById("message").value);
        } else {
            alert("连接未开启！")
        }
    }
    function clear() {
        document.getElementById('resp').value = '';
    }
</script>
    <textarea id="message" style="width: 400px; height: 200px"></textarea>
    <button onclick="send()">发送数据</button>
    <h3> 服务器输出：</h3>
    <textarea id="resp" style="width: 400px; height: 300px"></textarea>
    <button onclick="clear()">清空内容</button>
</body>
</html>